parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Symfony\\Contracts\\Cache\\CacheInterface\:\:getItem\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Command/NostrEventFromYamlDefinitionCommand.php

		-
			message: '#^Call to an undefined method Symfony\\Contracts\\Cache\\CacheInterface\:\:save\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Command/NostrEventFromYamlDefinitionCommand.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Form\\FormInterface\<mixed\>\:\:getClickedButton\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: src/Controller/ArticleController.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Security\\Core\\User\\UserInterface\:\:getMetadata\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Controller/ArticleController.php

		-
			message: '#^PHPDoc tag @param references unknown parameter\: \$rawTags$#'
			identifier: parameter.notFound
			count: 1
			path: src/Nostr/Nip10Kind1ArticleReplyTags.php

		-
			message: '#^Cannot call method __invoke\(\) on callable\.$#'
			identifier: method.nonObject
			count: 4
			path: src/Service/MagazineRefresher.php

		-
			message: '#^Method App\\Service\\NostrClient\:\:fetchKind5DeletionEventsForAuthors\(\) has invalid return type App\\Service\\stdClass\.$#'
			identifier: class.notFound
			count: 1
			path: src/Service/NostrClient.php

		-
			message: '#^PHPDoc tag @return with type swentel\\nostr\\Event\\Event\|null is not subtype of native type stdClass\|null\.$#'
			identifier: return.phpDocType
			count: 1
			path: src/Service/NostrClient.php

		-
			message: '#^PHPDoc tag @param for parameter \$event with type ArrayObject\<int, mixed\>\|list\<mixed\> is not subtype of native type object\.$#'
			identifier: parameter.phpDocType
			count: 1
			path: src/Service/NostrShareMenuBuilder.php

		-
			message: '#^Call to protected method getEntityManager\(\) of class Doctrine\\ORM\\EntityRepository\<object\>\.$#'
			identifier: method.protected
			count: 1
			path: src/Service/TopicIndexService.php
